@font-face {
  font-family: "Jaapokki";
  src : url("../fonts/JaapokkisubtractRegular.woff");
  src : url("../fonts/JaapokkisubtractRegular.woff2");
  src : url("../fonts/JaapokkisubtractRegular.eot");
  src : url("../fonts/JaapokkisubtractRegular.ttf");
}