@import "vars.scss";
@import "fonts.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  //width: 100%;
  //height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div, p, span, button, a {
  box-sizing: border-box;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.wrapper {
  //width: 1270px; 85%
  //margin: 0 auto;
  margin: 0 7%;
  position: relative;
}

//  header
.header {
  background: #0406bd url(../img/header_bg.jpg)no-repeat center bottom / cover;
  color: #fff;
  height: 100vh;

  .wrapper {
    height: 100vh;
  }
}
.header__logo-left {
  position: absolute;
  top: 6%;
  transition: all .3s ease;
  a {
    display: block;
    font-family: $Jaapokki;
    height: 48px;
    width: 48px;
    background: #fff;
    color: #0e0ea3;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 48px;

    &:hover {
      box-shadow: 0 10px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,.22);
    }
  }
}

// center  logo
.header__logo-center {
  background: #fff;
  width: 42px;
  height: 174px;
  margin-left: 57%;

  p {
    line-height: 25px;
    color: #4e4ecd;
    word-break: break-all;
    padding: 15px;
    font-weight: bold;
  }
}

//  burger  menu
.header__menu-burger {
  position: absolute;
  right: 0;
  top: 6%;
  cursor: pointer;



  span {
    width: 40px;
    height: 2px;
    display: block;
    background: #fff;
    margin-bottom: 6px;

    &:hover {
      width: 40px;
    }

    &:nth-child(2) {
      width: 30px;
      margin-left: 10px;
    }
    &:nth-child(3) {
      width: 19px;
      margin-left: 21px;
    }
  }
}

//  header  main  text
.main__offer {
  margin-top: 1%;
}

.main__offer-bg-text {
  font-size: 250px;
  font-family: $Jaapokki;
  color: #1b1cc4;
  letter-spacing: 15px;
  position: absolute;
  top: 185px;
}

.main__offer-text-left {
  min-width: 561px;
  position: relative;

  &:before {
    content: '';
    display: block;
    background: #fff;
    width: 29px;
    height: 5px;
    position: absolute;
    top: 45px;
    left: 400px;
  }

  h2 {
    font-size: 50px;
    line-height: 60px;
    padding: 53px 135px;
    letter-spacing: 3px;
    font-family: $Jaapokki;
    font-weight: 300;
  }
}





















@import "./media.scss";
